# Data Type Conversion

Python has many data types. In Python we can defines data type conversion functions like int(), float(), str(), etc to convert one data type to another.

**1. Converting Integers to Floats**

To convert the integer to float, use the float() function in Python. Similarly, if you want to convert a float to an integer, you can use the int() function.

In [ ]:
x = 22
print(type(x))

<class 'int'>

In [ ]:
x = 22
float(x)

22.0

In [ ]:
print(type(float(3)))

<class 'float'>

**2. Converting Floats to Integers**

Converting float to int will be floor/truncating or omit the value after the comma

In [ ]:
z = 165.0
type(z)

float

In [ ]:
int(z)

165

In [ ]:
print(type(int(z)))

<class 'int'>

**3. Converting Numbers to Strings**

We can convert numbers to strings through using the str() method. Weâ€™ll pass either a number or a variable into the parentheses of the method and then that numeric value will be converted into a string value.

In [ ]:
#Converting Integers to Strings

price = 15000
type(price)

int

In [ ]:
str(price)

'15000'

In [ ]:
print(type(str(price)))

<class 'str'>

We can converting strings to numbers. For example we want to convert strings to float data type

In [ ]:
price_mouse = "95000.63"
price_flashdisk = "79000.49"
type(price_mouse)
type(price_flashdisk)

str

In [ ]:
# Explicit type conversion to float
total = float(price_mouse) + float(price_flashdisk)
print("The total is: " + "Rp." + str(total))

The total is: Rp.174001.12

**Converting List to Tuples**

Just like integers and floats, we can also convert lists to tuples and tuples to lists. We can use the tuple() function to return a tuple version of the value passed to it.

In [ ]:
flowers = ["roses", "sunflowers", "aster", "azalea", "jasmine", "peonies"]
print(type(flowers))

<class 'list'>

In [ ]:
tuple(flowers)

('roses', 'sunflowers', 'aster', 'azalea', 'jasmine', 'peonies')

In [ ]:
print(type(tuple(flowers)))

<class 'tuple'>

**Converting to List**

We can use the list() method to convert the following tuple to a list. Because the syntax for creating a list uses parentheses, make sure to include the parentheses of the list() method, and in this case the print() method as well:

In [ ]:
identity = ("Salsabila Grace", "21", "Jakarta", "Universitas Pendidikan Indonesia")
type(identity)

tuple

In [ ]:
list(identity)

['Salsabila Grace', '21', 'Jakarta', 'Universitas Pendidikan Indonesia']

In [ ]:
print(type(list(identity)))

<class 'list'>

Just like tuples, strings can be converted to lists:

In [ ]:
"Coral"
print(list("Coral"))

['C', 'o', 'r', 'a', 'l']

**Converting to Set**

We can converting data type list to set. For example:

In [ ]:
hp_brand = ["Apple","Xiaomi","Samsung","Oppo"]
type(hp_brand)

list

In [ ]:
set(hp_brand)

{'Apple', 'Oppo', 'Samsung', 'Xiaomi'}

In [ ]:
print(type(set(hp_brand)))

<class 'set'>

**Converting to Dictionary**

If we want to converting data type to a dictionary, the data must meet the key-value requirements. 

Here are two examples of conversions:
1.   A list of several lists containing value pairs becomes a dictionary
2.   As well as converting a List of several tuples containing value pairs into a dictionary

In [ ]:
#Converting a list that containing value pairs to a dictionary

[[7,8],[2,3]]
dict([[7,8],[2,3]])

{2: 3, 7: 8}

In [ ]:
#Converting list of several tuples to a dictionary

((4,5),(6,7))
dict(((4,5),(6,7)))

**EVAL() FUNCTION **

If the input is a string containing a mathematical expression, then conversion to int() or float() will return an error. You can use the eval() function which also solves mathematical expressions

In [ ]:
"40-20"
int("40-20") #It shows an error because the string containing a math expression

ValueError: ignored

In [ ]:
eval("40-20")

20

In [ ]:
type(eval("40-20"))

int

# Input and Output

**Variable**

Variable is a place (in computer memory) to store values â€‹â€‹of a certain data type. To assign a value to a variable, we use the "=" operator, between the variable name and the value we want to store

In [ ]:
x = 50

#It means that we will store the value 50 (int type) into the variable x

**Print**

The print() function prints the given object to the standard output device (screen) or to the text stream file.

In [ ]:
program = "Data Science Track"
print(program)

Data Science Track

**Entering a variable value in a string**

Python has several ways to include variable values â€‹â€‹in strings there are:

**1. Directly concatenate variables in the print() statement**

In [ ]:
a = 9
print('The value of variable a is', a)

The value of variable a is 9

**2. Formatting**

Sometimes we would like to format our output to make it look attractive. This can be done by using the .format() method. This method is visible to any string object.

In [ ]:
print("Hello! My name is {}".format("Seo Dal Mi"))

Hello! My name is Seo Dal Mi

The curly braces {} are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).

In [ ]:
print('My name is {0} and I like {1}'.format('Farah','drawing'))

My name is Farah and I like drawing

**3. Using "%" operator added with "Argument specifiers"**

We can also format strings like the old sprintf() style used in C programming language. We use the % operator to accomplish this.

Some examples of commonly used argument specifiers:
* %s - String
* %d - Integers
* %f - Float(Decimal Number)

In [ ]:
nama = "Justin Bieber"
umur = 28
tinggi = 178

print ("Hello %s, saat ini umurmu %d tahun dan tinggi badanmu %f cm" %(nama, umur, tinggi))

Hello Justin Bieber, saat ini umurmu 28 tahun dan tinggi badanmu 178.000000 cm

**Function Input()**

To allow the user to provide input to your code program, use the input() function where the argument in brackets() is the text you want to display (the prompt) and the variable before the equal sign(=) is the resultant holder of the user's input:

In [ ]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
result = num1* num2
print("The result of the multiplication is", result)

Enter first number : 6
Enter second number : 7
The result of the multiplication is 42

In [ ]:
nama = input("Masukkan nama: ")
umur = input("Masukkan umur: ")
tinggi = input("Masukkan tinggi badan: ")
print("Halo! nama kamu adalah", nama, "usiamu sekarang",umur, "tinggimu",tinggi)

Masukkan nama: Calistha
Masukkan umur: 21
Masukkan tinggi badan: 165
Halo! nama kamu adalah Calistha usiamu sekarang 21 tinggimu 165

# List, set and string operations

1. List Operations

List responds to operators + and * like strings. That means the merger and repetition here also applies, unless the result is a new list, not a String.

In [ ]:
Item = ['table', 'chair', 'cupboard', 'window']
number = [1,2,3,4,5]

In [ ]:
print(len(Item)) #indicates many objects on the list.
print(Item+number) #Adding objects on item and number
print(number*2) #multiplication list in number twice
print(3 in number) #Check if 3 is in the list number

4
['table', 'chair', 'cupboard', 'window', 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True

2. Set Operations

In set, the operations performed are useful for the data processing process, that is union function (combined), intersection function (slice), difference function (difference), symmetric difference function (complement)

In [ ]:
Age1 = {22, 13, 17, 14}
Age2 = {20, 24, 17, 22}

In [ ]:
print(Age1.union(Age2)) #combine data on age1 and age2
print(Age1.intersection(Age2)) #Take data who belong to age1 and age2
print(Age1.difference(Age2)) #retrieve data on age1 that is not data in age2
print(Age1.symmetric_difference(Age2)) #Displays data that is only in one variabel

{13, 14, 17, 20, 22, 24}
{17, 22}
{13, 14}
{13, 14, 20, 24}

3. String Operations

Strings can be expressed using single quotation marks (''), double quotation marks (""), three pairs of single quotation marks (""'"'), or three pairs of double quotation marks (""""). String operations using +, and *operators, and using the len, max, min functions can be executed as in the list or tuple.

In [ ]:
info1 = "This week is the sixth week of Independent study activities. "
info2 = "In this week there is also a lot of new science that my colleagues and I have learned."

In [ ]:
print(info1 + info2) #adding the sentences in info1 and info2
print(len(info1)) #count the length of a character in info1
print(info1*2)  #multiply the sentence in info1 by 2 times
print(max(info2)) #search for the largest alphabetical order of sentences in info2

This week is the sixth week of Independent study activities. In this week there is also a lot of new science that my colleagues and I have learned.
61
This week is the sixth week of Independent study activities. This week is the sixth week of Independent study activities.
y

# Operator, Operand, and Expressions

***Operator*** is an instruction given to get the results of a process carried out. ***Operand*** is the origin value used in an operation process. ***Expression*** is a syntactic entity that generates a value, where usually the expression can consist of operator and operand.

For example, in operation 1 + 2. The numbers 1 and 2 are **operands**, the + sign is referred to **operator**, while 1 + 2 is referred to as the **expression**.

There are various types of operators used in the Pyhton, as follows.
1. Arithmetic Operator (Operator Aritmatika), 
2. Comparison Operator (Operator Perbandingan), 
3. Assignment Operator (Operator Penugasan),
4. Logical Operator (Operator Logika),
5. Bitwise Operator (Operator Bitwise), 
6. Membership Operator (Operator Membership), and
7. Identity Operator (Operator Identitas).

*1. Arithmetic Operator (Operator Aritmatika)*

Arithmetic Operator is an operator used to perform mathematical operations such as sum, subtraction, division, multiplication, and others.

In [ ]:
a = 7
b = 3

In [ ]:
print(a+b) #(+), indicates sum
print(a-b) #(-), indicates subtraction
print(a/b) #(/), indicates division
print(a*b) #(*), indicates multiplication
print(a**b) #(**), indicates power
print(a//b) #(//), indicates division (rounded down)
print(a%b) #(%), indicates enrichment

10
4
2.3333333333333335
21
343
2
1

*2. Comparasion Operator (Operator Perbandingan)*

Comparison operators are used to compare 2 values. The result is true or false.

In [ ]:
x = 4
y = 2
z = 7

In [ ]:
print(x == y)  #(==), indicates equal to
print(x != z)  #(!=), indicates not equal to
print(z > x)   #(>), indicates greater than
print(y >= x)  #(>=), indicates greater than or equal to
print(y < z)   #(<), indicates less than
print(z <= y)  #(<=), indicates less than or equal to

False
True
True
False
True
False

*3. Assignment Operator (Operator Penugasan)*

Assignment operators are used to assign values to variables. In Python, the assignment operator uses the same sign as (=). Assignment operators also have a writing variation referred to as a compound assignment operator.

In [ ]:
x=4   
x+=3  #Adding x with 3
print(x)

7

In [ ]:
y=12
y-=7  #Subtract y with 7
print(y)

5

In [ ]:
z=30
z/=3  #Div z with 3
print(z)

10.0

*4. Logical Operator (Operator Logika)*

Logic operator is an operator used in logic operations, such as and, or, or note logic.

In [ ]:
w = 4
x = 4
y = 7
z =10

In [ ]:
print(w > 1 and y > 1)  #if both are true, the result will be true.
print(w < 1 and y < 1)  #if one of expressions is false then the result will be false
print(y < z or w > x)   #if one is true, the result will be true.
print(y > z or w < x)   #if both are false, then the result will be false.
print(not(w > 1 and y > 1))  #if the result is true, then it will return the false, and vice versa

True
False
True
False
False

5. Bitwise Operator

Bitwise is a special operator for handling the logical operation of binary numbers in the form of bits. Bitwise operators are not used very often, unless you are creating a program that must process the bits of the computer. In addition, these operators are quite complicated and must have an understanding of binary number systems.

In [ ]:
print(8 & 4) #if the two bits are equally 1, then the result is also 1, in addition to the condition, the final value is 0. 8 = 1000 and 4 = 0100, so the result is 0 = 0000
print(8 | 4) #the result will be 0 if both bits are 0, in addition the bit value will be set to 1. 8 = 1000 and 4 = 0100, so the result is 12 = 1100
print(8 ^ 4) #if the two bits are different, the result is 1 but if it is both 0 or equally 1, the result is 0.

0
12
12

*6. Membership Operator (Operator Membership)*

Membership operators are used to test whether a sequence is presented in an object.

In [ ]:
Animals = ['Chicken', 'Cat', 'Dear', 'Lion', 'Crocodile']

In [ ]:
print('Chicken' in Animals) #returns true when on the list, and false if not on the list

True

In [ ]:
print('Dog' in Animals) #returns true when on the list, and false if not on the list

False

In [ ]:
print('Crocodile' not in Animals) #returns true when the data is not on the list, but return false if the data on the list

False

In [ ]:
print('Bird' not in Animals) #returns true when the data is not on the list, but return false if the data on the list

True

7. Identity Operator (Operator Identitas)

Identity operators are used to compare objects, whether they are the same object or not.

In [ ]:
a = 8
b = 8
c = 4

In [ ]:
a is b #Returns True if both variables are the same object

True

In [ ]:
a is c #Returns True if both variables are the same object

False

In [ ]:
a is not b #Returns True if both variables are not the same object

False

# Dynamic Typing

Python applies one of the languages, namely dynamic typing, which is a programming language that only knows the type of variables when the program is running and assignments are made.

In [ ]:
a = "My name is Lupin"
type(a) # Show varible type data

str

In [ ]:
len(a) # Indicates the length of the string and space, but doesn't work to numeric variables (ex. integers)

16

# Transform Number, Characters, and String


Case Manipulators:
1.   .upper()
2.   .lower()

String Methods:
1. .rstrip()
2. .lstrip()
3. .strip()

Testing for Substring-hood:
1. .starswith()
2. .endswith()

.upper()

The upper() methods returns the uppercased string from the given string. It converts all lowercase characters to uppercase. If no lowercase characters exist, it returns the original string.

In [ ]:
name = "rani andini"
name.upper() # Converting string into it's upper case

'RANI ANDINI'

.lower()

The lower() methods returns the lowercased string from the given string. It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

In [ ]:
now = "It's Raining"
now.lower() # Converting string into it's lower case

"it's raining"

If there are characters such as symbols or numbers in the string, then the characters are not changed.

In [ ]:
date = "26 March 2022"
date.upper() # Number in string not changed

'26 MARCH 2022'

.rstrip()

This method is used to delete whitespace or characters mentioned to the right of a string or ending of a string.

In [ ]:
name = "   My name's Tom Holland    "
name.rstrip() # Delete all whitespace in the right of a string

"   My name's Tom Holland"

.lstring()

This method is used to delete whitespace or characters mentioned to the left of a string or beggining of a string.

In [ ]:
home = "   My house in Los Angeles   "
home.lstrip() # Delete all whitespace in the left of a string

'My house in Los Angeles   '

.strip()

This method is used to delete whitespace at the beginning and end of a string, strip() can also specify which characters or parts you want to deleted.

In [ ]:
pathway = "----Data Science----"
pathway.strip("-") # Delete all '-'

'Data Science'

In [ ]:
color = "Red, Blue, Orange"
color.strip("Orange") # Delete Orange from color variable

'Red, Blue, '

.startswith()

The purpose of this function is to return true if the function begins with mentioned string (prefix) else return false.

In [ ]:
food = "Ketoprak is Indonesian food"
food.startswith("Ketoprak") , food.startswith("Indonesian")

(True, False)

.endswith()

The purpose of this function is to return true if the function ends with mentioned string (suffix) else return false.

In [ ]:
food = "Ketoprak is Indonesian food"
food.endswith("food") , food.endswith("Ketoprak")

(True, False)

# Conditional Expression

A conditional expression is a tested conditional statement that can contain mathematical operators, functions, and logic. Each conditional expression ends with a colon ":". Each conditional expression has a command code in writing indents.

The syntax used to create control flow in the form of conditional expressions in Python is **if**, **if else**, and **elif**


* **IF function** 

The IF function is a branch that is used to determine what actions are taken according to certain conditions.

In [ ]:
vaccine = "Booster"

if vaccine:
  print("The 3rd vaccine is {}".format(vaccine))

The 3rd vaccine is Booster


*   **IF ELSE function**


The IF ELSE function is a branch that is not only used to determine actions based on certain conditions, but also determines actions if the stated conditions are not suitable. If IF executes the condition TRUE, the IF ELSE function executes the TRUE and FALSE actions.

In [ ]:
vaccine=str(input("Vaccine Type: "))

if vaccine == "Booster":
  print("Goo 'Mudik'")
else:
  print("No 'Mudik'")

Vaccine Type: Booster
Goo 'Mudik'

In [ ]:
vaccine=str(input("Vaccine Type: "))

if vaccine == "Booster":
  print("Goo 'Mudik'")
else:
  print("No 'Mudik'")

Vaccine Type: Sinovac
No 'Mudik'


*   **ELIF function**

Branching can not only be for two conditions, but can be for three, four, even more branching conditions. The ELIF function is used for more than two branching logics.

In [ ]:
vaccine=str(input("Name: "))
vaccine=str(input("Vaccine Dose: "))

if vaccine == "Third Dose":
  print("full face-to-face lecture")
elif vaccine == "Second Dose":
  print("face-to-face lecture 50%")
else:
  print("Online Lecture'")

Name: Budi
Vaccine Dose: Third Dose
full face-to-face lecture

In [ ]:
vaccine=str(input("Name: "))
vaccine=str(input("Vaccine Dose: "))

if vaccine == "Third Dose":
  print("full face-to-face lecture")
elif vaccine == "Second Dose":
  print("face-to-face lecture 50%")
else:
  print("Online Lecture'")

Name: Robert
Vaccine Dose: Second Dose
face-to-face lecture 50%

In [ ]:
vaccine=str(input("Name: "))
vaccine=str(input("Vaccine Dose: "))

if vaccine == "Third Dose":
  print("full face-to-face lecture")
elif vaccine == "Second Dose":
  print("face-to-face lecture 50%")
else:
  print("Online Lecture")

Name: Kevin
Vaccine Dose: First Dose
Online Lecture

# Replacing String Elements

replace() is an inbuilt function in the Python programming language that returns a copy of the string where all occurrences of a substring are replaced with another substring.

In [ ]:
a = "sekarang kita sekolah"

In [ ]:
print(a.replace("sekolah","tidak"))

sekarang kita tidak

the third parameter in replace can be filled with the number of substrings you want to replace

In [ ]:
a = "sekarang kita sekolah dan saya membawa bekal"

In [ ]:
print(a.replace("sekolah","bimbel", 1))

sekarang kita bimbel dan saya membawa bekal

# String Checking

The in operator is the easiest and pythonic way to check if a python string contains a substring. The in and not in are membership operators, they take in two arguments and evaluate if one is a member of the other. They return a boolean value.

Isupper()

Returns true if the string has at least one cased character and all cased characters are in uppercase and false otherwise.

In [ ]:
a = "Metodologi Penelitian"

In [ ]:
a.isupper()

False

Islower()

Returns true if the string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

In [ ]:
a = "metodologi penelitian"

In [ ]:
a.islower()

True

In [ ]:
print("metodologi".lower().upper())

METODOLOGI

In [ ]:
print("metodologi".upper().lower())

metodologi

Isalpha()

Returns true if the string has at least 1 character and all characters are alphabetical and false otherwise.

In [ ]:
print("metodologi".isalpha())

True

In [ ]:
print("duze".isalpha())

True

Isalnum()

Returns true if the string has at least 1 character and all characters are alphanumeric and false otherwise.

In [ ]:
print("Metodologi".isalnum())

True

Isdecimal()

Returns true if the unicode string contains only decimal characters and false otherwise.

In [ ]:
print("Metodologi Penelitian".isdecimal())

False

##Formatting String

###string.rjust(i)
* The rjust(i) method is used to create the text right-align or adjust the text.to the right.
* string that used could be in direct text, but also can be in a variable.
* This method will add a space to the string to create it.
* The parameter i is an integer which is the overall length of the text.

In [ ]:
data = "Data Science".rjust(20)

In [ ]:
print("Before: \nData Science")
print("\nAfter: \n", data)

Before:
Data Science

After:
         Data Science

In [ ]:
data

'        Data Science'

In [ ]:
len("Data Science")

12

In [ ]:
len(data)

20

###string.ljust(i)
* The ljust(i) method is used to make text left-aligned or adjusted text to left.
* This method will add a space to the string to make it match.
* The parameter i is an integer which is the total length of the text (not the number of spaces added)

In [ ]:
text = "Data Science"
leftadjust_text = text.ljust(20)

In [ ]:
leftadjust_text

'Data Science        '

In [ ]:
print("Before: \n", text)
print("\nAfter: \n", leftadjust_text)

Sebelumnya:
 Data Science

Sesudah:
 Data Science

In [ ]:
print("length of text before: ", len(text))
print("length of text after adjust: ", len(leftadjust_text))

length of text before:  12
length of text after adjust:  20

###string.center(i, sep)
* The center(i) method used to create center align of text.
* The parameter i is an integer which is the total length of the text.
* The paramater sep is the separator in the left and right of the text, defaut value is space.

In [ ]:
course = "Data Science"

In [ ]:
center_course = course.center(20)
center_course

'    Data Science    '

In [ ]:
print("length text before adjustment: ", len(course))
print("length text afrer adjustment: ", len(center_course))

length text before adjustment:  12
length text afrer adjustment:  20

In [ ]:
center_course = course.center(20,",")
print(center_course)

,,,,Data Science,,,,

###String Literals
* Generally, strings are written easily in Python, enclosed in single quotes. But under certain conditions, it takes a single quote in the middle of the string.
* single quites in the midle of string will make an error.
* escape character, backslash will solve it.

In [ ]:
print("aren't ")

aren't

In [ ]:
print('aren't)

SyntaxError: ignored

In [ ]:
print('aren\'t')

aren't

###Raw Strings
* Python also provides a way to print strings according to whatever input or text is given.
* To implement raw strings, insert the letters

In [ ]:
print(r'aren\'t')

aren\'t

In [ ]:
text_tab = "Data \tScience"

print("Value showed :")
print(text_tab)
print("\nRaw strings :")
print(r"Data \tScience")

Value showed :
Data 	Science

Raw strings :
Data \tScience